In [7]:
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('ggplot')
import os

import sys
sys.path.append('../src')
#from model import 
from preprocessing import split_data, preprocess_fraud

In [3]:
df = pd.read_csv('../data/fraud.zip')
df.head(3)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0

In [4]:
df.describe().T.head()

,count,mean,std,min,25%,50%,75%,max
Time,284807.0,9.481386e+04,47488.145955,0.000000,54201.500000,84692.000000,139320.500000,172792.000000
V1,284807.0,1.168375e-15,1.958696,-56.407510,-0.920373,0.018109,1.315642,2.454930
V2,284807.0,3.416908e-16,1.651309,-72.715728,-0.598550,0.065486,0.803724,22.057729
V3,284807.0,-1.379537e-15,1.516255,-48.325589,-0.890365,0.179846,1.027196,9.382558
V4,284807.0,2.074095e-15,1.415869,-5.683171,-0.848640,-0.019847,0.743341,16.875344

In [5]:
dd = preprocess_fraud(df)
display(dd['clean'].head(3))
display(dd['scaled'].head(3))
display(dd['pca'].head(3))

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-0.694755,-0.042875,1.677200,0.989532,-0.243746,0.348224,0.192140,0.082835,0.329666,...,-0.024920,0.385138,-0.177553,0.110148,0.247698,-0.389581,0.330793,-0.064313,149.62,0
1,0.0,0.609280,0.162478,0.112120,0.327538,0.045153,-0.060872,-0.065897,0.071421,-0.233736,...,-0.308096,-0.878013,0.162336,-0.561325,0.321848,0.264064,-0.022921,0.043988,2.69,0
2,1.0,-0.694012,-0.810758,1.173218,0.278868,-0.363325,1.353122,0.639377,0.207903,-1.379470,...,0.338562,1.065760,1.459422,-1.138146,-0.627916,-0.285793,-0.137987,-0.181457,378.66,0

,Time,Amount,Class,V0,V1,V2,V3,V4,V5,V6,...,V14,V15,V16,V17,V18,V19,V20,V21,V22,V23
0,0.0,149.62,0.0,0.695721,0.052755,-1.657852,1.035389,0.158592,0.408042,0.157905,...,1.544087,-0.571971,-0.232380,-0.030917,-0.532574,-0.336162,-0.021544,0.378239,0.180484,0.110933
1,0.0,2.69,0.0,-0.609211,-0.167162,-0.109208,0.339708,-0.061115,-0.042574,-0.074251,...,0.725956,0.512621,0.072932,0.209234,0.184149,0.095113,0.414741,-0.839305,-0.156504,-0.561086
2,1.0,378.66,0.0,0.694042,0.828941,-1.165393,0.288701,0.286833,1.378121,0.612261,...,2.504375,-3.455491,-1.280006,-0.019572,2.635706,-0.701031,-0.493626,0.997309,-1.436230,-1.152704

In [8]:
# Save dataframes
save_paths = ['../data/clean-fraud.pkl', '../data/scaled-fraud.pkl', '../data/pca-fraud.pkl']
files = [dd['clean'], dd['scaled'], dd['pca']]
for sp, file in zip(save_paths, files):
    if os.path.isfile(sp):
        print(f'File Already Exists -- {sp}')
        pass
    else:
        pd.to_pickle(file, sp)
        print(f"File Saved --> {sp}")

File Saved --> ../data/clean-fraud.pkl
File Saved --> ../data/scaled-fraud.pkl
File Saved --> ../data/pca-fraud.pkl

In [4]:
class_grp = df[df['Amount'] > 0].copy().groupby(['Class'])['Class'].count()
dfgrp = pd.DataFrame(class_grp)
display(dfgrp)

print(f'Percent of Fraud: {round(float((dfgrp.iloc[1] / dfgrp.iloc[0])*100), 2)}%')

        Class
Class
0      282517
1         465

Percent of Fraud: 0.16%

In [5]:
dfc = df.copy()[df['Amount'] > 0]

splits = split_data(dfc)

In [25]:
for i in splits[2:]:
    print(f"Total Transactions = {i.shape[0]}")
    print(f"Fraudulent transactions = {sum(i)} -- {round((sum(i)/i.shape[0])*100, 2)}%")

Total Transactions = 226385
Fraudulent transactions = 368 -- 0.16%
Total Transactions = 56597
Fraudulent transactions = 97 -- 0.17%

In [ ]:
# TODO: resampling to increase class size of fraud